#btnPesquisar{
    width: 10%;
    padding: 12px 10px;
    border-radius: 50px;
    background: rgb(37, 121, 190);
    color: white;
    font-weight: bold;
    font-size: 80%;
    border: 0;
}
.btnAdd{
    width: 50%;
    padding: 12px 10px;
    border-radius: 50px;
    background: rgb(37, 121, 190);
    color: white;
    font-weight: bold;
    font-size: 80%;
    border: 2px solid rgb(37, 121, 190);
    margin: 0 auto;
}

.btnAdd:hover{
background-color: aliceblue;
color: rgb(37, 121, 190);
}

#pesquisa{
    width: 70%;
    padding: 10px;
    border-radius: 50px;
}
.faixa{
    width: 60%;
    padding: 5px;
    border-radius: 50px;
}

.buttonMenu{
    display: inline-block;
    width: fit-content;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(0, 63, 117);
    padding: 15px;
    border: 2px solid rgb(0, 63, 117);
    border-radius: 10px;
    color: white;
    line-height: 20px;
}
.buttonMenu:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

.BtnRemove{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(70, 0, 0);
    border: 1px rgb(70, 0, 0) solid;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.BtnRemove:hover{
    background-color: aliceblue;
    color: rgb(70, 0, 0);
    border: 1px rgb(70, 0, 0) solid;
}